body {
    display: flex;
    justify-content: center;
    padding: 5px 12%;
    flex-direction: column;
    align-self: center;
}

header {
    display: flex;
    border: 2px solid white;
    width: 1024px;
    height: 60px;
    padding: 10px;
    margin: 1px;
    justify-content: space-between;
    align-self: center;
}

div {
    display: flex;

}

a {
    padding: 10px;
}

.t1 {
    font-size: 36px;
}

.fleex1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
}

.div6 {
    text-decoration: none;
    color: blue;
}

.ment {
    display: flex;
    transition: 0.3s;
}

.menu {
    text-decoration: none;
    color: black;
}

.menu:hover {
    color: blue;
}

.bad-script-regular {
    font-family: "Bad Script", serif;
    font-weight: 400;
    font-style: normal;
}

.bad-script-regular {
    font-family: "Bad Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
  
.fleex4 {
    display: flex;
    border: 2px solid white;
    width: 1024px;
    height: 20px;
    padding: 10px;
    margin: 1px;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

main {
    display: flex;
    border: 2px solid white;
    width: 1024px;
    height: 1650px;
    padding: 10px;
    margin: 1px;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.t2 {
    font-size: 50px;
}

.ram1 {
    display: flex;
    border: 2px solid blue;
    width: 700px;
    height: 450px;
    padding: 20px;
    margin: 10px;
    border-radius: 16px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background-color: blue;
    color: white;
}

li {
    font-size: 20px;
}

.div6:hover {
    color: black;
}

footer{
    border: 2px solid white;
    height: 70px;
}